* {
  font-family: 'Reggae One', cursive;
}

body {
  height: 100vh;
  text-align: center;
  background-color: #232020;
 
  
}

a {
  color: white;
  text-decoration: none;
}

#root {
  height: 100vh;
}

.App {
  height: 100vh;
  display: grid;
  grid-template-areas:
  "n"
  "m"
  "m"
  "m"
  "f";
}

.list-button, .delete-button, .add-button {
  padding: 50px;
  margin: 10px;
  font-size: xx-large;
}

.nav-link {
  height: 100px;
}


.main {
  grid-area: m;
  background-color: #808285;
  display: grid;
  align-content: center;
  height: 725px;
  position: relative;
  

}

.home-click {
  justify-self: center;
  align-self: center;
  display: grid;
  grid-template-rows: 1fr;
}

.footer {
  grid-area: f;
  background-color: #232020;
}

nav {
  height: 150px;
  /* grid-area: n; */
  display: grid;
  background-color: #232020;
  grid-template-areas: 
  "b t t t t g";
}

.nav-links {
  top: -50px;
  grid-area: g;
  display: grid;
  grid-template-areas:
  "l"
  "a"
  "d";
  
}

#song-list {
  height: 50px;
  grid-area: l;
  position: relative;
  bottom: -12px;
}

#add-a-song {
  height: 50px;
  grid-area: a;
  position: relative;
  bottom: -12px;
}

#delete-a-song {
  height: 50px;
  grid-area: d;
  position: relative;
  bottom: -12px;
}

#logo-container {
  grid-area: b;
  height: 150px;
}

form {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  margin-bottom: 100px ;
}

#submit-button {
  margin-top: 20px;
  
}

.songs-container {
  display: grid;
  margin: 0 auto;
  margin-bottom: 100px;
}

#list-delete-button {
  margin-bottom: 0;
}

#list-delete-div {
  justify-self: end;
  align-self: end;
}

.github-logo {
  height: 100px;
}

.delete-song-button {
  margin-left: 10px;
  align-self: right;
  justify-self: right;
}

button {
  background-color: #EFF2EF;
  border-radius: 12px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #808285;
  
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #232020;
  
  border-radius: 10px;

}

::-webkit-scrollbar-corner {
  background-color: #808285;
}