

.App {
  height: 100%;
  text-align: center;
  display: grid;
  grid-template-areas:
  "n"
  "m"
  "f";
}



.main {
  grid-area: m;
  
}

.footer {
  grid-area: f;

}

nav {
  grid-area: n;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}



